# Criação dos datasets considerando os cursos de TI do Brasil e da Bahia

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()
sns.set_style('whitegrid')

In [2]:
df_sup_aluno_tic = pd.read_csv('dataset/SUP_ALUNO_TIC_2015_2019.CSV', encoding='ISO-8859-1')
df_curso_tic = pd.read_csv('dataset/SUP_CURSO_TIC_2015_2019.CSV', usecols=['NU_ANO_CENSO', 'CO_IES', 'CO_CURSO', 'NO_CURSO', 'CO_UF'], encoding='ISO-8859-1')
df_dados_ies = pd.read_csv('dataset/SUP_IES_2015_2019.CSV', encoding='ISO-8859-1', usecols=['NU_ANO_CENSO', 'CO_IES', 'SG_IES', 'CO_UF'])

In [3]:
df_sup_aluno_tic.head()

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
0,2015,572,1,1,82799,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2008
1,2015,572,1,1,82799,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2011
2,2015,572,1,1,82799,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2009
3,2015,572,1,1,82799,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2009
4,2015,572,1,1,82799,NaN,4.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2009

In [4]:
df_curso_tic = df_curso_tic.fillna(0)
df_dados_ies = df_dados_ies.fillna(0)
df_curso_tic = df_curso_tic.astype({'CO_UF': 'int32'})

df_dados_ies = df_dados_ies.replace({'CO_UF':{' CULTURA E TECNOLOGIA SAO FIDELIS LTDA - EPP': 33}})
df_dados_ies = df_dados_ies.astype({'CO_UF': 'int32'})

In [5]:
outer_merged = pd.merge(df_sup_aluno_tic, df_curso_tic, how="outer", on=['NU_ANO_CENSO', 'CO_IES', 'CO_CURSO'])

In [6]:
outer_merged = pd.merge(outer_merged, df_dados_ies, how='outer', on=['NU_ANO_CENSO', 'CO_IES', 'CO_UF'])

## Filtros

Selecionando apenas os cursos da Bahia

In [7]:
curso_aluno_BA = outer_merged.loc[outer_merged.CO_UF == 29]
display(curso_aluno_BA.shape)

(63627, 108)

Selecionando apenas os cursos presenciais

In [8]:
display(curso_aluno_BA.TP_MODALIDADE_ENSINO.unique())
display(curso_aluno_BA.TP_MODALIDADE_ENSINO.value_counts())
curso_presencial = curso_aluno_BA.loc[curso_aluno_BA.TP_MODALIDADE_ENSINO == 1]
display(curso_presencial.shape)

array([ 1., nan])

1.0    63210
Name: TP_MODALIDADE_ENSINO, dtype: int64

(63210, 108)

Selecionando apenas os cursos de Universidades públicas

In [9]:
curso_presencial  = curso_presencial.loc[curso_presencial.TP_CATEGORIA_ADMINISTRATIVA.isin([1, 2, 3])]
curso_presencial.shape

(24456, 108)

selecionando apenas os alunos cursando

In [12]:
curso_presencial = curso_presencial.loc[curso_presencial['TP_SITUACAO'] == 2]
curso_presencial.groupby(['NO_CURSO']).size()

NO_CURSO
ANÁLISE E DESENVOLVIMENTO DE SISTEMAS    2671
CIÊNCIA DA COMPUTAÇÃO                    3898
CIÊNCIAS DA COMPUTAÇÃO                    533
COMPUTAÇÃO                               2649
ENGENHARIA DA COMPUTAÇÃO                 1199
ENGENHARIA DE COMPUTAÇÃO                 3101
JOGOS DIGITAIS                            112
REDES DE COMPUTADORES                      79
SISTEMA DE INFORMAÇÃO                     477
SISTEMAS DE INFORMAÇÃO                   3695
dtype: int64

In [28]:
curso_presencial.groupby(['CO_IES', 'SG_IES']).size()

CO_IES  SG_IES
24      UESC       972
40      UNEB      1467
578     UFBA      5207
666     UEFS      1952
688     UESB      1143
4503    UFRB        39
dtype: int64

In [29]:
curso_presencial.groupby(['CO_IES']).size()

CO_IES
24        972
40       1467
578      5207
599      5369
666      1952
688      1143
3984     1110
4503       39
14509    1155
dtype: int64

In [46]:
curso_presencial.loc[curso_presencial['CO_IES'] == 599, 'SG_IES'] = 'IFBA'

In [48]:
curso_presencial.loc[curso_presencial['CO_IES'] == 3984, 'SG_IES'] = 'UNIVASF'

In [50]:
curso_presencial.loc[curso_presencial['CO_IES'] == 14509, 'SG_IES'] = 'IFBAIANO'

In [51]:
curso_presencial.groupby(['CO_IES', 'SG_IES']).size()

CO_IES  SG_IES
24      UESC         972
40      UNEB        1467
578     UFBA        5207
599     IFBA        5369
666     UEFS        1952
688     UESB        1143
3984    UNIVASF     1110
4503    UFRB          39
14509   IFBAIANO    1155
dtype: int64

In [19]:
df1 = pd.DataFrame(
    {
        "A": [1.0,2.0],
        "B": ['', 3.5]
  
    }
)

In [20]:
df1

     A    B
0  1.0
1  2.0  3.5

In [24]:
df1.loc[df1['A'] == 1.0, 'B'] = 10

In [25]:
df1

     A    B
0  1.0   10
1  2.0  3.5

In [52]:
display(curso_presencial.shape)

(18414, 108)

In [53]:
outer_merged.to_csv('dataset/alunos_curso_2015_2019_tic_br.csv', index=False)
curso_presencial.to_csv('dataset/alunos_curso_2015_2019_tic_BA.csv', index=False)

In [54]:
df_curso_tic['NU_ANO_CENSO'].value_counts()

2019    2910
2018    2735
2017    2575
2016    2574
2015    2556
Name: NU_ANO_CENSO, dtype: int64